*.py linguist-detectable=true
*.tex linguist-detectable=false
*.tsql linguist-detectable=false
*.html linguist-detectable=false
/Assets/* linguist-detectable=false
/PDF/* linguist-detectable=false
/build/* linguist-detectable=false
/modules/* linguist-detectable=false
/themes/* linguist-detectable=false
